body{
	font-size: 12px;
}
.container-fluid{
	margin-left: -15px;
	margin-right: -15px;
}
.bg-blue{
	background-color: #00558e;
}
.top-head{
	background-color: #2f4e9e;
	color: #abaaab;
	font-size: 12px;

}
.social-link > li {
	list-style: none;
	display: inline-block;
	padding: 10px;
	border-right: 1px solid #3559b1;
	}


.social-link > li > a > i {
	color: #abaaab;
	display: block;
	
}
.mid-head{
	background-color: #1b2d5b;
	color: #cccbcc;
	font-size: 12px;
	line-height: 0px;
	position: relative;
	
}
.navbar-header{
	position: absolute;
	top: 10px;
}
.navbar {
     min-height: 0px; 
     margin-bottom: 20px; 
    border: none;
}
.navbar-toggle{
	background-color: black;

}
.navbar-toggle > span {
	background-color: white;
}
.brand{
	line-height: 0px;
}
.brand > h3 {
	font-size: 	30px;
	font-weight: 700
}
.brand > p {
	font-size: 10px;
	font-weight: 700
}
.mail-us{
	text-align: center;
}
.contact > li{
	list-style: none;
	line-height: 14px;
	display: inline-block;
	padding-right: 30px;
	padding-top: 20px;

}
.contact > li > a {
	text-decoration: none;
	color: #cccbcc;

}
.phone{
	color: #6f91ea;
}
.navbar-toggle{
	background-color: black;

}
.navbar-toggle > span {
	background-color: white;
}

#image{
	position: relative;
	background-color: black;

}
.carousel-indicators{
	display: none;
}
.carousel-caption{
	top: 30%;
	color: white;
}
.carousel-caption > .aid{
	font-size: 40px;
	font-weight: 700;
}
.fa-angle-double-left, .fa-angle-double-right{
	margin-top: 200px;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	line-height: 35px;
	background-color: #0a0204;
	padding: 7px;

}
.navigation{
	position: absolute;
	top: 0px;
}
.navbar-nav > li{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;

}
.navbar-default{
	background-color: #0d1427;
	color: #a2a3a3;
	border-color: #0d1427;
	z-index: 2;
}
.navbar {
    min-height: 0px; 
    margin-bottom: 20px; 
    border: none;
}
.form-control{
	background-color:  #0d1427;	
	border-radius: 0px;
	border: 1px solid  #0d1427;
}
.box{
	
	color: white;
	text-align: center;
	font-size: 14px;
}
.icon-1, .icon-2 , .icon-3{
	padding: 20px;

}
.icon-1{
	background-color:#37bb6f;
	padding-bottom: 18px;
}
.icon-2{
	background-color: #e7ba45;
	padding-bottom: 22px;
}
.icon-3{
	background-color: #8679cb;
}
.box-1{
	
	background-color:#37bb6f;
	opacity: 0.98;
}
.box-2{
	
	background-color: #e7ba45;
	opacity: 0.98;
}
.box-3{
	
	background-color: #8679cb;
	opacity: 0.98;
}
.safety{
	background-color: white;
	padding-top: 50px;
	text-align: center;
}
.ur-safety{
	font-size: 	30px;
	color: #172a57;
	font-weight: 600;
	padding-bottom: 10px;
}
.content-safety{
	color: #3b4a70;
	text-align: center;
}
.seperator{
 
    text-align: center;
    height: 2px;
    background: #bababa;
    width: 180px;
    margin: -18px auto 50px;
    position: relative;

}
.seperator:after {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -25px;
    height: 16px;
    width: 33px;
    display: inline-block;
    background: #3b496b;
    border: 6px solid white;
}


.slider-2{
	
	position: relative;
	font-size: 12px;
	background-size: cover;
	background: url(../images/slider-1.png);
	color: #fdfdfd;
	z-index: -2;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.slider-2:after{
	content: "";
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	z-index: -1;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;


}

.caption{
	color: #fdfdfd;
	z-index: 99;
}
.caption-mid{
	font-weight: 500;
	font-size: 22px;
}
.read-more{
	color: white;
	background-color: #2f4e9e;
	padding: 10px;
	font-size: 12px;
	border: none;
}
.mid-section{
	background-color: white;
	color: #2a3b63;
	text-align: center;
	font-size: 12px;
	padding: 30px;
	position: relative;
}
.nav-course{
	background-color: #09185d;
	color: white;
	padding: 0px;
	margin-bottom: 30px;
	margin-top: -100px;
	position: relative;
}
.nav-course > .nav-tabs > li > a{
	border: none;
	border-radius: 0px;
	line-height: 2.428571;
} 
.nav-course > .nav-tabs{
	background-color: white;
	font-size: 16px;
} 

.nav-tabs>li.active>a  {
    color: white;
    cursor: default;
    background-color: #09185d;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li.active>a:focus{
	background-color: transparent;
}
/*.nav-tabs>li.active>a:hover{
	background-color: transparent;
}*/
.nav-course > .nav > li > a{
	/*padding: 15px 25px;*/
	text-align: center;
	text-decoration: none;
	color: #09185d;
}
.nav-course > .nav > li.active > a{
	color: white;
	border: none;
}
.nav-course > .nav > li.active{
	background-color:  #09185d;
	
}
.tab-content{
	font-size: 14px;
}
.tab-content > #profile{
	background-color: blue;
}

.form-2 > ul {
	display: inline-block;
} 
.form-2 > ul >li > label{
	color: white;

}

.form-2 > ul >li {
	display: block;
	list-style: none;
	color: black;
	padding: 30px 0px 30px 20px;

}
.nav-course > .nav > li > a > i {
	font-size: 2em;
}
.select , .date , .continue , .type , .icon
{
	width: 100%;
	height: 50px;

}
select , .date{
	-webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */

}
.type > input{
	border-right: 1px solid #ddd;
	width: 100%;
	height: 50px;
}
.icon{
	font-size: 1.5em;
	color: #09185d;
	float: right;
	background-color: white;
	text-align: center;
}

.continue{
	margin-top: 5px;
	background-color: #1b2d5b;
	color: white;
	border: 1px solid white;
}

.has-feedback label~.form-control-feedback {
    top: 63px;
}


.form-control-feedback {
    top: 64px;
    
    pointer-events: none;
}

.tab{
	margin-bottom: 	30px;
	
}
.panel-body{
	   
    margin-top: -11px;
	margin-right: -30px;
    margin-left: 15px;
	border-left	: 1px solid #ddd;
	border-right	: 1px solid #ddd;
	border-bottom: 2px solid #6e7da6;
}
.panel-body > h4{
color: #00185b;
font-weight: 600;
}
.panel-body > p{
	font-size: 15px;
	font-weight: 700;
}
.panel-body > p > span	{
	color: #152d69;
	float: right;
}

.panel-body > p > .black{
color: black
}
.panel-body > p > button{
	background-color: white;
	border: 3px solid #ddd;
	padding: 10px;
	color: #193670;
	font-size: 12px;
	font-weight: 800;
}
.view{
	text-align: center
}
.view-more{
	padding: 10px;
	margin: 15px;
	text-align: center;
}
.why-choose-us{
	
	background: url(../images/slider-2.png);
}
.why-choose-us-side {
	background-color: #325099;
	width: 50%;
	opacity: 0.9;
	color: white;
}
.side-content > ul > li > h2 > i{
	opacity: 0.1;
	font-style: italic;
	font-size: 2em;
}
.side-header{
	padding-left: 68px;
}
.side-content > ul > li {
	list-style: none;
	/*padding: 20px 20px 20px 0px;*/

}
.seperator-2{
    height: 2px;
    width: 111px;
    background: white;
    position: relative;
    margin: 30px 0px;
}
.seperator-2:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 23px;
    margin-left: -25px;
    height: 14px;
    width: 30px;
    display: inline-block;
    background: white;
    border: 6px solid  #325099;
}

.seperator-2{
	margin: 10px 0px;
}

.footer-top{
	text-align: left;
	padding-left: 100px;
	padding-top: 60px;
	background-color: #e2e3de;
	margin-right: -15px;
	margin-left: -15px;
	font-size: 14px;
	color: #8e8e8d;
}

.forms > li > input {

	border-color: transparent transparent #cccccc transparent ;
	width: 100%;

}
.forms > li {
	list-style: none;
	display: block;
}
.name{
	background-color: #e2e3de;
	padding: 20px;
	margin: 10px;
}
.seperator-3{
    height: 2px;
    width: 111px;
    background: #676767;
    position: relative;
    margin: 30px 0px;
}
.seperator-3:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 23px;
    margin-left: -25px;
    height: 14px;
    width: 30px;
    display: inline-block;
    background: #676767;
    border: 6px solid #e2e3de;
}
.btn-send{
	color: white;
	padding: 15px;
	margin: 50px 0px 50px  0px ;
}

.footer-bottom{
	margin: 0px auto;
	background-color: #103258;
	color: #949595;
	padding-top: 30px;


}
.social-link-2 > li {
	list-style: none;
	float: left;
	padding: 0px;
}
.social-link-2 > li >  a{
    display: block;
    border: 1px solid #2f4b6e;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 !important;
    font-size: 0.8em;
    margin: 0 3px;
} 
.footer-mid{
	background-color: 	#103258;
	color: #898a8f;
}
.school > h3 , .course-2 > h3 , .social-link-2 > h3 , .popular > h3 
{
	padding: 5px 5px 8px 0px;
}
.popular > img{
	height: 150px;
	width: 250px;
	padding: 10px;
}
.btn-sub{
	color: white;
	padding: 10px;
	margin: 50px 0px 50px  0px ;
	border-color: transparent;
	background-color: #00558e;
	border-radius: 4px;
}

.course-2 > ul  > li {
	padding: 5px;
	padding-left: 0px;

}
.social-link-2
{
	padding-left: 0px;
}
.social-link-2 >  li > a {
	color: #3f5a77;
	text-decoration: none;
}
.email{
	background-color: #274569;
	border-radius: 4px;
	width: 80%;
    height: 39px;
}
.footer-bottom{
	background-color: #002248;
	color: #919aa5;
	text-align: center;
	font-size: 11px;
}
.footer-nav > .nav{
	padding-bottom: 5px;
}
.footer-nav > .nav > li{
	line-height: 2px;
	border-right: 1px solid #919aa5;
}
.footer-nav > .nav > li > a{
	text-decoration: 	none;
	color: #919aa5;

}


@media only screen and (max-width: 1200px){


	.contact{
		float: left;
	}
}


@media only screen and (max-width: 992px){
	.contact{
		float: left;
	}
}


@media only screen and (max-width: 480px){
*{
	font-size: 11px;
}
.carousel-caption > .aid{
	font-size: 14px;
}
.nav-course{
	margin-top: 0px;
}
.panels > .panel-heading > img {
	width: 100%;
}

.side-content > ul > li > h2 >  i {
	display: none;
}
}

@media only screen and (max-width: 320px){
*{
	font-size: 9px;
}
.carousel-caption > .aid{
	font-size: 12px;
}
.nav-course{
	margin-top: 0px;
}
.panels > .panel-heading > img {
	width: 100%;
}
.side-content > ul > li > h2 > i {
	display: none;
}
}